.subscribe {
    background: var(--primary-color);
    text-align: center;
    color: #fff;
    padding: 4rem 2rem;
}

.subscribe-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.subscribe h1 {
    font-size: 4rem;
}

.subscribe p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.input-group {
    flex: 1;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 50px;
    margin: auto;
    max-width: 600px;
}

.input-group input {
    width: 100%;
    flex: 1;
    outline: none;
    border: none;
    background:none;
    color: #fff;


    padding-left: 1rem;
    font-size: 1rem;
}
::placeholder {
    color: #fff;
}

.input-group .input__btn {
    margin: 1rem 4vw;
    padding: 1rem;
    font-size: 1.2rem;
    white-space: nowrap;
}


